<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'snippets/css.html' %}
    <title>Blog</title>
</head>
<body>
    <div class="container">
        <div class="header">
            {% include 'snippets/nav.html' %}
        </div>
        {% include 'snippets/messages.html' %}
        <div class="content">
            {% block content %}{% endblock content %}
        </div>
    </div>
    {% include 'snippets/js.html' %}
</body>
</html>