<nav>
    <div class="nav-wrapper">
        <a href="{% url 'home' %}" class="brand-logo">Blog</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{% url 'home' %}"><i class="material-icons left">home</i>Home</a></li>
            <li><a href="{% url 'articles:article-list' %}"><i class="material-icons left">list</i>Articles</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'articles:article-create' %}"><i class="material-icons left">create</i>New article</a></li>
                <li><a href="{% url 'accounts:account-profile' %}"><i class="material-icons left">account_circle</i>Profile</a></li>
                <li><a href="{% url 'accounts:account-logout' %}"><i class="material-icons left">exit_to_app</i>Logout</a></li>
            {% else %}
                <li><a href="{% url 'accounts:account-login' %}"><i class="material-icons left">input</i>Login</a></li>
                <li><a href="{% url 'accounts:account-create' %}"><i class="material-icons left">person_add</i>Register</a></li>
            {% endif %}
            <li>
                <form action="{% url 'articles:article-search-form' %}" method="get">
                    <div class="input-field s6 s12">
                        <i class="material-icons prefix">search</i>
                        <input type="text" id="autocomplete-input" name="q" placeholder="search..." class="autocomplete">
                        <input type="submit" style="position: absolute; left: -9999px" />
                    </div>
                </form>
            </li>
        </ul>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{% url 'home' %}"><i class="material-icons left">home</i>Home</a></li>
            <li><a href="{% url 'articles:article-list' %}"><i class="material-icons left">list</i>Articles</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'articles:article-create' %}"><i class="material-icons left">create</i>New article</a></li>
                <li><a href="{% url 'accounts:account-profile' %}"><i class="material-icons left">account_circle</i>Profile</a></li>
                <li><a href="{% url 'accounts:account-logout' %}"><i class="material-icons left">exit_to_app</i>Logout</a></li>
            {% else %}
                <li><a href="{% url 'accounts:account-login' %}"><i class="material-icons left">input</i>Login</a></li>
                <li><a href="{% url 'accounts:account-create' %}"><i class="material-icons left">person_add</i>Register</a></li>
            {% endif %}
            <li>
                <form action="{% url 'articles:article-search-form' %}" method="get">
                    <div class="input-field s6 s12">
                        <i class="material-icons prefix">search</i>
                        <input type="text" id="autocomplete-input" name="q" placeholder="search..." class="autocomplete">
                        <input type="submit" style="position: absolute; left: -9999px" />
                    </div>
                </form>
            </li>
        </ul>
    </div>
</nav>