<nav>
    <div class="nav-wrapper">
        <a href="{% url 'home' %}" class="brand-logo">Blog</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'articles:article-list' %}">Articles</a></li>
            <li><a href="{% url 'articles:article-create' %}">New article</a></li>
            <li><a href="{% url 'accounts:account-login' %}">Login</a></li>
            <li><a href="{% url 'accounts:account-logout' %}">Logout</a></li>
        </ul>
    </div>
</nav>