{% extends 'base.html' %} {% block content %}

<div class="account">
    <div class="card horizontal">
        <div class="card-image">
            <img src="{{ user.profile.image.url }}">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <p class="article-paragraph">Username: {{ user.username }}</p>
                <p class="article-paragraph">E-mail: {{ user.email }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'articles:article-list' %}">Home page</a>
                <a href="{% url 'accounts:account-edit' %}">Edit profile</a>
                <a href="{% url 'password_change' %}">Change password</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}