{% extends 'base.html' %} {% block content %}

<div class="articles">
    {% for obj in object_list %}
        <div class="card">
            <div class="card-image">
                <div class="thumbnail" style="background-image: url('{{ obj.thumbnail.url }}')">
                    <span class="card-title">
                        {{ obj.title }}
                    </span>
                </div>
            </div>
            <div class="card-content">
                <p class="article-paragraph">{{ obj.snippet }}</p>
                {% include 'snippets/tag_chip.html' %}
                {% include 'snippets/author_chip.html' %}
            </div>
            <div class="card-action">
                <a href="{% url 'articles:article-detail' slug=obj.slug %}">Read more</a>
            </div>
        </div>
    {% endfor %}
    {% if is_paginated %}
        {% include 'snippets/pagination.html' %}
    {% endif %}
</div>

{% endblock content %}