{% extends 'base.html' %} {% block content %}

<div class="article">
    <div class="card">
        <div class="card-image">
            <div class="thumbnail" style="background-image: url('{{ object.thumbnail.url }}')">
                <span class="card-title">
                    {{ object.title }}
                </span>
            </div>
        </div>
        <div class="card-content">
            <p class="article-paragraph">{{ object.body }}</p>
            <p>
                <br>
                {{ object.author }} on {{ object.timestamp }}
            </p>
        </div>
        <div class="card-action">
            <a href="{% url 'articles:article-list' %}">Go back</a>
            {% if user.is_authenticated and user.username == object.author.username %}
                <a href="{% url 'articles:article-edit' slug=object.slug %}">Edit</a>
            {% endif %}
            {% if user.is_authenticated and user.username == object.author.username %}
                <a href="{% url 'articles:article-delete' slug=object.slug %}">Delete</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}