body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    margin-top: 2vh;
}

.article-paragraph {
    text-align: justify;
}

.brand-logo {
    margin-left: 10px;
}

.thumbnail {
    display: block;
    width: 100%;
    min-height: 300px;
    background-size: cover;
}

.body-textarea {
    height: 20vh;
    max-width: 100%;
}

.chip {
    margin-top: 20px;
}

.chip > img {
    float: left;
    margin: 0 8px 0 -12px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.prefix {
    top: 0rem !important;
}